<div class="filter-container d-flex align-items-center w-100">
  <span class="fs-15 font-weight-600 text-dark-gray">Filter</span>
  <div class="w-25 ms-4">
    <input type="text" class="form-control" placeholder="Name" />
  </div>
  <div class="w-25 ms-4">
    <select id="priority" class="c-dropdown fs-14 text-dark-gray" aria-placeholder="Select">
      <option value="high" class="">Select Priority</option>
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
  </div>
</div>
